body{
    background-color: var(--cor-de-fundo);
    font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--cor-de-texto);
}

:root{
    --cor-de-fundo: #211C84;
    --cor-de-texto: #4D55CC;
    --cor-do-cabeçalho: #7A73D1;
}

header{
    display: flex;
    width: 100%;
    background-color: var(#7A73D1);
    padding: 1rem;
    position: relative;
    justify-content: center;
 }

 .menu-disciplina{
width: 20%;
display: inline-block;
 }

    .titulo{
        font-size: 200%;
        color:#000000;
    }

    .botao-disciplina{
        cursor: pointer;
        font-size: 2rem;
        background: none;
background-color: var(#000000);
border: none;
padding: 1.05rem 1.5em;
        color:#DAC0AD;

    }
.lista-vertical{
display: none;
position: absolute;
background-color: aliceblue;
box-shadow: #4D55CC;
min-width: 190px;
z-index: 1;
left: 1rem;
top: 100%;
}
.lista-vertical a:hover{
    background-color: aliceblue;
}

#menu-toggle:checked ~ .lista-vertical{
    display:block;
}
#menu-toggle:checked + .botao-disciplina{
    background-color: #000000;
}